/* color palette:
seashell - rgb(254, 245, 239)
desert sand - rgb(228, 187, 151)
hookers green - rgb(82, 121, 111)
copper red - rgb(214, 104, 83)
dark liver - rgb(88, 75, 83) */

/* fonts:
ACCENT - font-family: 'Abril Fatface', cursive;
MAIN - font-family: 'Azeret Mono', monospace; */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(254, 245, 239);
    color: rgb(88, 75, 83);
    font-family: 'Azeret Mono', monospace;
}

.nav {
    background-color: rgb(254, 245, 239);
    color: rgb(88, 75, 83);
    display: flex;
    justify-content: center;
}

.nav h1 {
    font-weight: bold;
    font-size: 4em;
}

.nav-score {
    background-color: rgb(82, 121, 111);
    color: rgb(254, 245, 239);
    display: flex;
    justify-content: space-between;
    font-family: 'Abril Fatface', cursive;
}
 .nav-score h4 {
     margin: 5px 60px;
 }

 .start-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
 }

 .btn-color {
     background-color: rgb(214, 104, 83);
     color: rgb(254, 245, 239);

 }

 .btn-color:hover {
    border: 1px solid rgb(214, 104, 83); 
    background-color: rgb(254, 245, 239);
    color: rgb(214, 104, 83);
 }

.game-sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gameboard {
    display: grid;
    width: 100%;
    height: 100%;
    /* grid-template-columns: 40px 40px 40px 40px 40px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    margin: 20px;

}

.board-square {
    background-color: rgb(228, 187, 151);
    color: rgb(88, 75, 83);
    border-radius: 15%;
    border: 1px solid rgb(88, 75, 83);
    box-shadow: 10px 5px 5px rgb(88, 75, 83);
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    text-shadow: 1px 1px rgb(254, 245, 239);
    margin: 5px;
}

.user-interaction, .guess-history {
    justify-self: center;
    margin-top: 20px;
    list-style-type: none;
}   

